body {
  background-color: rgb(155, 168, 197);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 800;
}

.contentContainer {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.editContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 0.5;
}

.editContainer > section, 
.editContainer > div {
  background: white;
  padding: 20px;
  border-radius: 12px;
}


.displayContainer {
  flex: 1.5;
  background: white;
  min-height: 64vh;
  padding: 40px;
  border-radius: 4px;
}

label {
    padding-right: 5px;
}